{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "arrow-parens": [
            "error",
            "always"
        ],
        "no-console": [
            "error",
            {
                "allow": [
                    "warn",
                    "info",
                    "error",
                    "log"
                ]
            }
        ],
        "no-useless-escape": "off"
    },
    "env": {
        "jest": true
    }
}